<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cnzakii.tiedyer.mapper.GoodsMapper">

    <!-- 标签获取商品信息 -->
    <select id="getGoodsImformationByLable">
        select * from where lable = #{lable}
    </select>
    <!-- 搜索获得商品信息 -->
    <select id="getGoodsImformationByKey">
        select t_spu.id id, title goodsName, production_place productionPlace, image pictureAddress, sales, base_price price, t_spu_spec.values yardage,category_name lable
        from t_spu JOIN t_category JOIN t_spu_spec
        where t_category.id = t_spu.category_id and t_spu.id = t_spu_spec.spu_id and t_spu.title = '*#{key}*';
    </select>
</mapper>