<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnzakii.tiedyer.mapper.UserMapper">

    <!-- 更新用户积分 -->
    <update id="updatePoints" parameterType="java.util.Map">
        UPDATE t_user
        SET points = points + #{points}
        WHERE id = #{userId}
    </update>


</mapper>
